<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template>Normal.dotm</Template><Company>微软中国</Company><Pages>58</Pages><Words>1156</Words><Characters>2686</Characters><Lines>257</Lines><Paragraphs>72</Paragraphs><TotalTime>3</TotalTime><ScaleCrop>false</ScaleCrop><LinksUpToDate>false</LinksUpToDate><CharactersWithSpaces>3370</CharactersWithSpaces><Application>WPS Office_12.1.0.25225_F1E327BC-269C-435d-A152-05C5408002CA</Application><DocSecurity>0</DocSecurity></Properties>